@page "/study"
@layout SrsLayout

<PageTitle>Study</PageTitle>
<style>  
    #srs-card { height: 100%; overflow: hidden; }
    #srs-card > #card-front { display: block; height: 100%; }
    #srs-card > #card-back { display: none; height: 100%; }
</style>

<div id="srs-card">

</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        
    }
}