@page "/study"
@layout SrsLayout

<PageTitle>Study</PageTitle>
<style>  
    #srs-card > #card-front { display: block; }
    #srs-card > #card-back { display: none; }
</style>

<div id="srs-card">
    <div id="card-front"></div>
    <div id="card-back"></div>
</div>

@code
{
    
}