.dropdown-menu
{
    --bs-dropdown-bg: #0f1113 !important;
    --bs-dropdown-border-color: #262626 !important;
}

#card-grade-btn-panel > #grade-btn-col > #grade-btns > #grade-btn-row > button
{
    width: 100%;
    margin: 0.25rem;
    padding: 0.5rem;
}

#card-grade-btn-panel > #grade-btn-col > button
{
    width: 100%;
    margin: 0.25rem;
    padding: 0.5rem;
}

#card-grade-btn-panel
{
@media (min-width: 60rem)
{
    padding-left: 20%;
    padding-right: 20%;
}
padding: 1rem;
background-color: #0f1113;
border-top: 1px solid #262626;
}

#grade-btns
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#grade-btn-row {
    display: flex;
    width: 100%;
}

#grade-btn-col
{
    display: flex;
}

#card-grade-btn-panel > #grade-btn-col > #grade-btns > #grade-btn-row > button > span.oi {
    padding-right: 0.5rem;
}