@inherits LayoutComponentBase
@inject HttpClient Http

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4 navbar navbar-dark bg-primary">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <footer>
            <div id="reveal-panel">
                <RevealButtonPanel></RevealButtonPanel>
            </div>
            <div id="newcard-panel">
                <NewCardButtonPanel CardGuid=@cardGuid></NewCardButtonPanel>
            </div>
            <div id="grade-panel">
                <GradeButtonPanel CardGuid=@cardGuid></GradeButtonPanel>
            </div>
        </footer>
    </main>
</div>

@code
{
    private CardData? card;
    private string cardGuid = "";
    
    protected override async Task OnInitializedAsync()
    {
        card = await Http.GetFromJsonAsync<CardData>("api/v1/srs/QueryNextDueCard");
    }
    
    public class CardData
    {
        public string Guid { get; set; }
        public string Template { get; set; }
        public string Content { get; set; }
    }
}