@inherits LayoutComponentBase
@inject HttpClient Http

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4 navbar navbar-dark bg-primary">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <a href="#" target="_blank">Login</a>
        </div>

        <article class="content px-4">
            <CascadingValue Value="@MarkupContent">
                @Body
            </CascadingValue>
        </article>
        <footer>
            <RevealButtonPanel CardState=@currentCard.State></RevealButtonPanel>
            <GradeButtonPanel CardGuid=@currentCard.Guid></GradeButtonPanel>
        </footer>
    </main>
</div>

@code
{
    private MarkupString MarkupContent { get; set; }
    private RenderedCard? currentCard;

    protected override async Task OnInitializedAsync()
    {
        currentCard = await Http.GetFromJsonAsync<RenderedCard>("api/v1/srs/NextDueCard");
        MarkupContent = new(currentCard.Content);
    }

    public class RenderedCard
    {
        public string Guid { get; set; }
        public int State { get; set; }
        public string Content { get; set; }
    }
}